html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 8em 1fr 1fr;
  grid-template-areas:
    "list project options"
    "list graph legend"
    "list graph hover";
}

#list,
#legend,
#hover,
#project,
#options {
  margin: 0;
  padding: 0.25em;
}

#list {
  grid-area: list;
  height: 100%;
}

#list div {
  height: 2em;
}

#list ul {
  overflow: auto;
  max-height: calc(100% - 2.5em);
}

#graph {
  grid-area: graph;
}

#legend {
  grid-area: legend;
}

#hover {
  grid-area: hover;
}

#project {
  grid-area: project;
}

#options {
  grid-area: options;
}
